[user]
	name = dolelongan
	email = dolelongan@gmail.com
[core]
	autocrlf = input
	excludesfile = /Users/np/.gitignore_global
    	pager=less -x4

# include sendemail config {{{
[include]
    path = ~/.git-sendemail
# }}}
# color {{{
[color]
    branch = auto
    diff = auto
    status = auto

[color "branch"]
    current = red reverse
    local = blue
    remote = green

[color "diff"]
    meta = yellow
    frag = magenta
    old = red bold
    new = green
    plain = white

[color "status"]
    added = yellow
    changed = green
    untracked = cyan

# }}}

# push/pull/diff/options {{{
[push]
    default = current
[pull]
    default = current
[diff]
    mnemonicprefix = true
[branch]
    autosetuprebase = always
[apply]
    whitespace = nowarn

#}}}

# alias {{{
[alias]
# basic {{{
    st = status -s
    cl = clone
    ci = commit
    br = branch
    sw = switch
    swb = checkout -
    r = reset
    	# }}}
# commit {{{
    ada = add .
    ca = commit --amend
    amend = commit --amend
    caa = commit -a --amend -C HEAD
    p = push
    puf = push --force-with-lease
	# }}}
# diff {{{
    d = diff --word-diff
    dc = diff --cached
    # diff last commit
    dlc = diff --cached HEAD^
    # diff status: A git diff, but with only the filenames (which reminds me of git status)
    diffst = diff --name-only
    	# }}}
# reset commands {{{
    r1 = reset HEAD^
    r2 = reset HEAD^^
    rh = reset --hard
    rh1 = reset HEAD^ --hard
    rh2 = reset HEAD^^ --hard
    	# }}}
# various useful {{{
    # list remotes
    rem= "!git config -l | grep remote.*url | tail -n +2"
    # list all aliases
    la = "!git config -l | grep alias | cut -c 7-"
    # worktree list
    wl = worktree list
    # history: This is pretty much the only way I look at my log. 
    # Aside from providing one-line logs, it also shows the branching in/out
    hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
    # branch delete here: Deletes all local branches that have already been merged to the branch that you're currently on
    brdhere = !sh -c \"git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d\"
	
    # help
    h = "!sh -c \"git --help && echo; git config -l | grep -E \\\"alias\\\\..*\\\" | sed -E \\\"s/^alias\\\\.([^=]+)=(.*)$/\\\\n\\\\1:\\t\\\\2/\\\"\""
    
# }}}

[rerere]
  enabled = false
[rebase]
  autosquash = true
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
